body{
  background-color: #eee;
  color: #333;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
}

input{
  vertical-align: middle;
  height: 25px;
}

select{
  vertical-align: middle;
  height: 20px;
}

input.date{
  width: 100px;
}

.container{
  background-color: #fff;
  border: 1px solid #ccc;
  border-width: 0 1px; 
  padding: 15px;
}
.header h1{
  color: #333;
  margin: 10px 0 45px 0;
  font-size: 2.3em;
  text-shadow: 1px 1px 1px #ddd;
}

.body>h2{
  -moz-border-radius-topleft:       7px;
  -webkit-border-top-left-radius:   7px;
  -moz-border-radius-topright:      7px;
  -webkit-border-top-right-radius:  7px;
  background-color: #E6E6E6;
  background-image: url(../js/SlickGrid/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png);
  background-repeat: repeat-x;
  background-position: 50% 50%;
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #bfbfbf;
  color: #333;
  font-size: 1.6em;
  padding: 3px 6px;
  text-shadow: 1px 1px 1px #FFF;
}

.body>h3{
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 7px;
}

.body>h3 button{
  float: right;
}

.body dl dt{
  float: left;
  width: 85px;
}

.body dl dt label{
  width: 75px;
  display:block;
  height: 20px;
  padding-top: 7px;
}


.body .grid{
  border: 1px solid #ccc;
  border-width: 0 1px 1px 1px;
  height: 200px;
  margin-bottom: 20px;
  width: 495px;
}

.body .grid .slick-header-column{
  font-weight: bold;
  text-shadow: 1px 1px 1px #FFF;
}

.body .chart{
  width: 600px;
  height: 350px;
}